
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: fredoka, Arial, sans-serif;
}

header {
    text-align: center;
    margin: 40px 20px;
}

h1 {
    color: rgb(255, 0, 225);
    padding: 15px;
    font-size: 32px;
}

button {
    width: 150px;
    height: 3rem;
    border-radius: 12px;
    background-color: magenta;
    color: aliceblue;
    font-weight: 800;
    border: 1px white;
    margin-top: 25px;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#addNewMemberForm {
    margin: 20px;
    text-align: center;
}

#addNewMemberForm div {
    margin: 15px 0;
    margin-left: 30%;
    text-align: left;
}




